---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Plano Pessoal",
    price: "Grátis",
    popular: true,
    features: [
      "IA integrada ao Whatsapp",
      "Personalização de PROMPTs por chat ou grupo",
      "Escolha de PROMPTs pré-definidos",
      "Geração de imagens",
    ],
    button: {
      text: "Fale com o RochaGPT",
      link: "https://wa.me/554789099607?text=Olá,%20RochatGPT!",
    },
  },
  {
    name: "Plano Comunidade",
    price: "Em breve",
    popular: false,
    features: [
      "IA integrada ao Whatsapp",
      "Personalização de PROMPTs por chat ou grupo",
      "Escolha de PROMPTs pré-definidos",
      "Geração de imagens",
      "Leitura e processamento de arquivos de texto",
      "Leitura e processamento de vídeos do youtube",
      "Leitura, consumo e processamento de APIs",
      "Ajuste Fino (treinamento da IA)",
      "Contratação de um número exclusivo e personalização do BOT",
      "Disparo de alertas em diferentes grupos configurados",
    ],
    button: {
      text: "Em breve",
      link: "#",
    },
  },
  {
    name: "Para Empresas",
    price: "Personalizado",
    popular: false,
    features: [
      "IA integrada ao Whatsapp",
      "Personalização de PROMPTs por chat ou grupo",
      "Escolha de PROMPTs pré-definidos",
      "Geração de imagens",
      "Leitura e processamento de arquivos de texto",
      "Leitura e processamento de vídeos do youtube",
      "Leitura, consumo e processamento de APIs",
      "Ajuste Fino (treinamento da IA)",
      "Contratação de um número exclusivo e personalização do BOT",
    ],
    button: {
      text: "Contate a gente",
      link: "/contact",
    },
  },
];
---

<Layout title="Planos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Planos</Fragment>
      <Fragment slot="desc">
        Em breve novidades para as comunidades no discord.
      </Fragment>
    </Sectionhead>
  </Container>

  <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
    {pricing.map((item) => <Pricing plan={item} />)}
  </div>
</Layout>
