---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Plano Pessoal",
    price: "Grátis",
    popular: true,
    features: [
      "Integração para conversas do WhatsApp",
      "Personalize a sua IA com o seu PROMPT",
      "Prompts pré-definidos para utilizar",
      "Leitura e resumo de Vídeos no Youtube",
    ],
    button: {
      text: "Fale com o RochaGPT",
      link: "/",
    },
  },
  {
    name: "Plano Comunidade",
    price: "Em breve",
    popular: false,
    features: [
      "Integração com o Discord",
      "Integração para comunidades",
      "Personalize a sua IA com o seu PROMPT",
      "Criações de Imagens em tempo real",
      "Leitura e resumo de Vídeos no Youtube",
    ],
    button: {
      text: "Em breve",
      link: "#",
    },
  },
  {
    name: "Para Empresas",
    price: "Personalizado",
    popular: false,
    features: [
      "Planos personalizados",
      "IA com conhecimento específico",
      "IA programada para atender sua demanda",
      "Treinamento especializado pelo nosso time",
      "Acompanhamento e monitoramento do serviço",
    ],
    button: {
      text: "Contate a gente",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Planos</Fragment>
      <Fragment slot="desc">
        Em breve novidades para as comunidades no discord.
      </Fragment>
    </Sectionhead>
  </Container>

  <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
    {pricing.map((item) => <Pricing plan={item} />)}
  </div>
</Layout>
