---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Roadmap">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Roadmap RochaGPT</Fragment>
      <Fragment slot="desc">Acompanhe o projeto.</Fragment>
    </Sectionhead>
    <section class="flex flex-col items-center justify-center text-gray-800">
      <div class="container mx-auto space-y-8 px-4 py-16 lg:max-w-3xl">
        <h2 class="mb-8 text-2xl font-bold md:text-4xl">Linha do tempo</h2>
        <div class="space-y-12">
          <div>
            <h3 class="mb-8 text-lg font-bold md:text-xl">
              2023/ 1&deg; Semestre
            </h3>
            <ul class="mb-8 space-y-4">
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">Inteligência artificial GPT</h4>
                </div>
                <p class="ml-7 text-gray-600">
                  integrada com WhatsApp com a possibilidade de conversas em
                  grupos ou privadas.
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">Configuração de PROMPTs</h4>
                </div>
                <p class="ml-7 text-gray-600">
                  personalizados por chat ou grupo
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">Prompts pré-cadastrados</h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para você utilizar como personalidades
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">
                    Geração de imagens através de prompts
                  </h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para você criar tudo aquilo que imagina.
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">
                    Atualizações de dados em tempo real
                  </h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para você estar sempre conectado.
                </p>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="mb-3 text-lg font-bold md:text-xl">
              2023/ 2&deg; Semestre
            </h3>
            <ul class="mb-8 space-y-4">
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">
                    Leitura e processamento de vídeos do Youtube
                  </h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para você otimizar seu tempo com vídeos.
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">Leitura e processamento de audios</h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para melhorar a sua experiência com o RochaGPT
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">
                    Leitura e processamento de arquivos PDF ou TXT
                  </h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para aumentar a capacidade intelectual do RochaGPT
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">
                    Leitura e processamento de links e APIs
                  </h4>
                </div>
                <p class="ml-7 text-gray-600">
                  para facilitar a maneira como você utiliza o RochaGPT.
                </p>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="mb-3 text-lg font-bold md:text-xl">A partir de 2024</h3>
            <ul class="space-y-4">
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">Ajuste fino</h4>
                </div>
                <p class="ml-7 text-gray-600">
                  Treinamento e aprendizagem para a inteligencia artificial.
                </p>
              </li>
              <li class="mb-4 space-y-1">
                <div class="flex items-center space-x-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="h-4 w-4 fill-current text-green-700"
                  >
                    <path
                      d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"
                    ></path>
                    <polygon
                      points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"
                    ></polygon>
                  </svg>
                  <h4 class="font-medium">E mais novidades...</h4>
                </div>
                <p class="ml-7 text-gray-600"></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </Container>
</Layout>
