---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Roadmap",
    path: "#",
    children: [
      {
        title: "1˚Semestre /2023",
        description:
          "Inteligência artificial GPT integrada com WhatsApp com a possibilidade de conversas em grupos ou privadas e mais...",
        path: "/roadmap",
        icon: "bi:whatsapp",
      },
      {
        title: "2˚Semestre /2023",
        description:
          "Leitura e processamento de vídeos do Youtube, áudios, arquivos e muito mais...",
        path: "/roadmap",
        icon: "bi:file-earmark-code",
      },
      {
        title: "2024 em diante",
        description:
          "Ajuste fino - treinamento e aprendizagem para a inteligência artificial e mais novidades...",
        path: "/roadmap",
        icon: "bi:person-workspace",
      },
    ],
  },
  {
    title: "Planos",
    path: "/pricing",
  },
  {
    title: "Sobre",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Lucy",
    path: "/lucy",
  },
  {
    title: "Contato",
    path: "/contact",
  },
];
---

<Container>
  <header class="my-5 flex flex-col items-center justify-between lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg"
          ><span class="font-bold text-green-500">Rocha</span><span
            class="text-gray-800">GPT</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex py-2 text-gray-600 hover:text-gray-900 lg:px-3"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="mt-3 flex items-center gap-4 lg:hidden">
          <Link
            href="https://wa.me/554789099607?text=Olá,%20RochatGPT!"
            target="_blank"
            size="md"
          >
            Fale com o RochaGPT
          </Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden items-center gap-4 lg:flex">
        <Link
          style={"outline"}
          href="https://wa.me/554789099607?text=Olá,%20RochatGPT!"
          target="_blank"
          size="md"
        >
          Fale com o RochaGPT
        </Link>
      </div>
    </div>
  </header>
</Container>
