---
---

<div class="my-12 bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2
        class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
      >
        Perguntas Frequentes sobre o RochaGPT
      </h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        O RochaGPT é uma plataforma de inteligência artificial que utiliza o
        GPT-3.5 da OpenAI para gerar respostas precisas e personalizadas em
        grupos ou chats privados. Nesta seção de Perguntas Frequentes,
        esclarecemos as principais dúvidas sobre o armazenamento de dados,
        funcionamento da plataforma, aprendizado, possibilidade de funções
        personalizadas e muito mais. Leia as perguntas abaixo para entender
        melhor como o RochaGPT pode ajudar você e sua empresa.
      </p>
    </div>
    <!-- text - end -->

    <div class="grid gap-8 sm:grid-cols-2 sm:gap-y-10 xl:grid-cols-3">
      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Quais dados dos usuários são armazenados?
        </h3>
        <p class="text-gray-500">
          Não se preocupe, seus dados são utilizados apenas no momento em que a
          IA é acionada para processar a informação, gerar uma resposta e são
          descartados imediatamente após o processo.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Quanto custa usar o RochaGPT?
        </h3>
        <p class="text-gray-500">
          RochaGPT oferece um plano gratuito, e um plano premium com diversas
          funcionalidades (veja nossos planos). Para empresas ou comunidades, há
          possibilidade de contratação de funções exclusivas sob demanda. Faça
          contato com a gente.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Como funciona o fluxo dos dados?
        </h3>
        <p class="text-gray-500">
          Quando a IA é acionada, ela recebe a mensagem do usuário juntamente
          com o contexto solicitado, e encaminha para a API da OpenIA. Os dados
          são processados pela OpenIA em seus servidores e, em seguida, a
          resposta é enviada de volta para o RochaGPT, que encaminha para o
          solicitante, e depois são descartados do servidor.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          O RochaGPT aprende ou utiliza dados de outros lugares?
        </h3>
        <p class="text-gray-500">
          Não, o RochaGPT não utiliza nada além do que já está disponível na
          OpenIA. Todos os dados gerados são ignorados ou descartados quando
          utilizados para gerar uma resposta.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Existe a possibilidade do RochaGPT aprender?
        </h3>
        <p class="text-gray-500">
          Sim, para planos corporativos ou comunidades, pode ser aplicado
          aprendizado para que o RochaGPT se adeque ao negócio ou utilize os
          dados como fonte de conhecimento. Para esses modelos, são discutidas
          quais são as funcionalidades necessárias e formalizado um contrato
          para assegurar a segurança de dados e compliance.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          O RochaGPT pode criar alertas, disparos em outros grupos ou agenda?
        </h3>
        <p class="text-gray-500">
          Sim, essas funções são exclusivas para planos corporativos ou
          comunidades. Para manter a segurança dos dados, a tecnologia é
          construída exclusivamente para o cliente e isolada da aplicação
          principal.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Qual o motivo do RochaGPT não disponibilizar para todos os usuários as
          funções personalizadas?
        </h3>
        <p class="text-gray-500">
          Para garantir um controle de escala e custos. Qualquer funcionalidade
          que exija recursos adicionais é tratada como um software sob demanda,
          com um contrato formal e outros recursos jurídicos para garantir a
          segurança e sigilo dos dados
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Por que devo usar o RochaGPT em meu dia-a-dia?
        </h3>
        <p class="text-gray-500">
          Para acelerar a interpretação e consumo de informações sem precisar
          sair do WhatsApp, além de que carregar em seu bolso uma inteligência
          artificial pode ser uma ferramenta poderosa para tomadas de decisões
          ou ainda fonte de pesquisa.
        </p>
      </div>
      <!-- question - end -->

      <!-- question - start -->
      <div class="relative rounded-lg bg-gray-100 p-5 pt-8">
        <span
          class="absolute -top-4 left-4 inline-flex h-8 w-8 items-center justify-center rounded-full bg-green-700 text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <h3 class="mb-3 text-lg font-semibold text-gray-800 md:text-xl">
          Eu posso ter o meu número exclusivo e utilizar a tecnologia do
          RochaGPT para serviços personalizados?
        </h3>
        <p class="text-gray-500">
          Para solicitar um desenvolvimento personalizado, é necessário entrar
          em contato com a equipe do RochaGPT. O seu negócio será analisado e
          juntos serão definidos os requisitos necessários para que a IA se
          adapte às suas condições.
        </p>
      </div>
      <!-- question - end -->
    </div>
  </div>
</div>
