---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: " Integração para conversas em grupos do WhatsApp",
    description:
      "Converse com várias pessoas ao mesmo tempo em grupos no WhatsApp. Com esta funcionalidade, você pode ter uma comunicação eficiente e personalizada em seu negócio, ou mesmo em sua comunidade, com a facilidade de integração e personalização da IA em grupos.",
    icon: "bi:whatsapp",
  },
  {
    title: "Integração para conversas particulares no WhatsApp",
    description:
      "Com a integração do RochaGPT, você pode ter conversas particulares personalizadas no WhatsApp com a IA. Esta funcionalidade permite uma comunicação mais próxima e personalizada com seus clientes, fornecedores, parceiros de negócios ou até mesmo para uso pessoal, podendo solucionar problemas específicos ou oferecer suporte técnico especializado e também utilizar para dúvidas no dia a dia.",
    icon: "bi:chat-left-text",
  },
  {
    title: "Personalize a sua IA",
    description:
      "Com o RochaGPT, você pode personalizar a sua IA para se adequar às necessidades do seu negócio. Essa funcionalidade permite ajustar as configurações da IA para se adaptar às demandas e objetivos específicos da sua empresa, tornando-a mais eficiente e relevante para suas necessidades.",
    icon: "bi:pencil-square",
  },
  {
    title: "Prompts pré-definidos para utilizar",
    description:
      "Com o RochaGPT, você pode economizar tempo na criação de conversas com a IA utilizando os prompts pré-definidos. Essa funcionalidade oferece sugestões e modelos prontos para utilizar em suas conversas, facilitando a criação de novos diálogos e aumentando a eficiência do seu negócio.",
    icon: "bi:pencil-square",
  },
  {
    title: "Leitura de Vídeos no Youtube",
    description:
      "Com o RochaGPT, você pode ler diretamente vídeos no YouTube, utilizando a IA para coletar dados e informações úteis. Essa funcionalidade permite analisar o texto dos vídeos, aumentando a precisão e eficiência da coleta de dados para sua IA.",
    icon: "bi:youtube",
  },
  {
    title: "Leitura de arquivos de links para atualização dos dados",
    description:
      "Com o RochaGPT, você pode atualizar seus dados de maneira simples e rápida, lendo arquivos ou links com a IA. Essa funcionalidade permite agrupar informações de diversas fontes em um único lugar, otimizando o processo de coleta de dados e melhorando a precisão da análise dos dados coletados.",
    icon: "bi:link-45deg",
  },
];
---

<section class="lg:px-8">
  <div class="mt-16 md:mt-24">
    <h2 class="text-4xl font-bold leading-10 md:max-w-4xl lg:text-5xl">
      Transforme seu WhatsApp em uma ferramenta de inteligência artificial com a
      plataforma RochaGPT
    </h2>
    <p class="my-8 text-lg text-slate-600">
      O que o RochaGPT está preparando para aprimorar sua experiência:
    </p>
  </div>

  <div class="mt-16 grid gap-16 sm:grid-cols-2 md:grid-cols-3">
    {
      features.map((item) => (
        <div class="flex items-start gap-4">
          <div class="mt-1 h-8 w-8  shrink-0 rounded-full bg-green-700 p-2">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="text-lg font-semibold">{item.title}</h3>{" "}
            <p class="mt-2 leading-relaxed text-slate-500">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
