---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: " Integração para conversas em grupos do WhatsApp",
    description:
      "Converse com várias pessoas ao mesmo tempo em grupos no WhatsApp. Com esta funcionalidade, você pode ter uma comunicação eficiente e personalizada em seu negócio, ou mesmo em sua comunidade, com a facilidade de integração e personalização da IA em grupos.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Integração para conversas particulares no WhatsApp",
    description:
      "Com a integração do RochaGPT, você pode ter conversas particulares personalizadas no WhatsApp com a IA. Esta funcionalidade permite uma comunicação mais próxima e personalizada com seus clientes, fornecedores, parceiros de negócios ou até mesmo para uso pessoal, podendo solucionar problemas específicos ou oferecer suporte técnico especializado e também utilizar para dúvidas no dia a dia.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Personalize a sua IA",
    description:
      "Com o RochaGPT, você pode personalizar a sua IA para se adequar às necessidades do seu negócio. Essa funcionalidade permite ajustar as configurações da IA para se adaptar às demandas e objetivos específicos da sua empresa, tornando-a mais eficiente e relevante para suas necessidades.",
    icon: "bx:bxs-data",
  },
  {
    title: "Prompts pré-definidos para utilizar",
    description:
      "Com o RochaGPT, você pode economizar tempo na criação de conversas com a IA utilizando os prompts pré-definidos. Essa funcionalidade oferece sugestões e modelos prontos para utilizar em suas conversas, facilitando a criação de novos diálogos e aumentando a eficiência do seu negócio.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Leitura de Vídeos no Youtube",
    description:
      "Com o RochaGPT, você pode ler diretamente vídeos no YouTube, utilizando a IA para coletar dados e informações úteis. Essa funcionalidade permite analisar o texto dos vídeos, aumentando a precisão e eficiência da coleta de dados para sua IA.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Leitura de arquivos de links para atualização dos dados",
    description:
      "Com o RochaGPT, você pode atualizar seus dados de maneira simples e rápida, lendo arquivos ou links com a IA. Essa funcionalidade permite coletar informações de diversas fontes em um único lugar, otimizando o processo de coleta de dados e melhorando a precisão da análise dos dados coletados.",
    icon: "bx:bxs-user",
  },
];
---

<section class="lg:px-8">
  <div class="mt-16 md:mt-24">
    <h2 class="md:max-w-4xl text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Transforme seu WhatsApp em uma ferramenta de inteligência artificial com a
      plataforma RochaGPT
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      O que o RochaGPT está preparando para aprimorar sua experiência:
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
