<div class="bg-white pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div
      class="flex flex-col items-center justify-between gap-4 border-t border-b py-6 md:flex-row"
    >
      <!-- nav - start -->
      <nav
        class="flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6"
      >
        <a
          href="/"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Home</a
        >
        <a
          href="/pricing"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Planos</a
        >
        <a
          href="/about"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Sobre</a
        >
        <a
          href="/blog"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Blog</a
        >
        <a
          href="/lucy"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Lucy</a
        >
        <a
          href="/contact"
          class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
          >Contato</a
        >
      </nav>
      <!-- nav - end -->

      <!-- social - start -->
      <div class="flex gap-4">
        <a
          href="https://www.instagram.com/rochagpt.ai/"
          target="_blank"
          class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600"
        >
          <svg
            class="h-5 w-5"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
            ></path>
          </svg>
        </a>

        <a
          href="https://wa.me/554789099607?text=Olá,%20RochatGPT!"
          target="_blank"
          class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600"
        >
          <svg
            class="h-7 w-7"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            ><rect x="0" y="0" width="24" height="24" fill="none" stroke="none"
            ></rect><path
              fill="currentColor"
              d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144l-2.494.654l.666-2.433l-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931a6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646c-.182-.065-.315-.099-.445.099c-.133.197-.513.646-.627.775c-.114.133-.232.148-.43.05c-.197-.1-.836-.308-1.592-.985c-.59-.525-.985-1.175-1.103-1.372c-.114-.198-.011-.304.088-.403c.087-.088.197-.232.296-.346c.1-.114.133-.198.198-.33c.065-.134.034-.248-.015-.347c-.05-.099-.445-1.076-.612-1.47c-.16-.389-.323-.335-.445-.34c-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654c0 .977.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992c.47.205.84.326 1.129.418c.475.152.904.129 1.246.08c.38-.058 1.171-.48 1.338-.943c.164-.464.164-.86.114-.943c-.049-.084-.182-.133-.38-.232z"
            ></path></svg
          >
        </a>
      </div>
      <!-- social - end -->
    </div>

    <div class="py-8 text-center text-sm text-gray-400">
      Copyright © {new Date().getFullYear()} RochaGPT. <a
        href="https://monkeybranch.dev"
        target="_blank"
        class="hover:underline">Desenvolvido por MonkeyBranch</a
      >.
    </div>
  </footer>
</div>
