---
---

<h2 class="my-12 text-center text-4xl font-bold text-gray-800">Estatísticas</h2>
<div class="bg-white pb-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">
          Grupos já conheceram o &copy;RochaGPT
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
        >
          +500
        </dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">
          Usuários utilizando o &copy;RochaGPT
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
        >
          +2,000
        </dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">
          Personalidades com o <span
            class="font-semibold tracking-tight text-gray-900">/set_system</span
          >
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
        >
          &infin;
        </dd>
      </div>
    </dl>
  </div>
</div>
