<section class="bg-slate-100">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div class="max-w-2xl mx-auto md:text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
        Depoimentos dos nossos usuários 🤩!
      </h2>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-2"
    >
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Eu fiquei impressionado com a precisão das respostas do
                  RochaGPT. É incrível como uma máquina pode ser tão inteligente
                  e útil para o meu negócio.Além disso, a segurança dos dados é
                  uma preocupação importante para mim e o RochaGPT me ofereceu
                  um ambiente seguro e confiável para lidar com minhas
                  informações.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Luiz Santos
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Utiliza o RochaGPT em seu grupo de trabalho.
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Eu amo como o RochaGPT tornou o meu dia a dia no WhatsApp
                  muito mais fácil. Ele é capaz de responder a todas as minhas
                  perguntas rapidamente e com precisão, sem me deixar esperando
                  por uma resposta.Além disso, a interface é intuitiva e fácil
                  de usar. Eu recomendo fortemente o RochaGPT para qualquer
                  pessoa que queira adicionar uma IA ao seu grupo do WhatsApp.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Ana Silva
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Utiliza o RochaGPT em seu grupo de amigos.
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  O RochaGPT foi uma adição valiosa ao meu grupo do WhatsApp.
                  Ele nos ajudou a aumentar a eficiência e melhorar a
                  comunicação em nossa equipe, permitindo que todos tenham
                  acesso a informações importantes de maneira rápida e fácil.
                  Além disso, a equipe de suporte do RochaGPT é incrível e
                  sempre pronta para ajudar em qualquer situação.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Marcos Souza
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Utiliza o RochaGPT em seu grupo do escritório.
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1999&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Eu não sabia que era possível ter um assistente virtual tão
                  inteligente e prestativo dentro do WhatsApp, até conhecer o
                  RochaGPT. Ele me ajuda a organizar tarefas, responder
                  mensagens e até mesmo me diverte com suas respostas
                  criativas.Fiquei impressionado com a capacidade da
                  inteligência artificial em entender as perguntas e fornecer
                  respostas precisas e úteis.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Fernanda Oliveira
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Utiliza o RochaGPT para soluções diárias
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
