---
import { Picture } from "@astrojs/image/components";
---

<div
  id="videoPresentation"
  class="mx-auto w-full max-w-7xl items-center pt-4 sm:px-8 md:px-12 lg:pt-0"
>
  <dl
    class="mx-auto mt-8 max-w-4xl items-start space-y-6 text-center text-sm sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8"
  >
    <div class="text-slate-500">
      <strong class="text-slate-700">O RochaGPT</strong> ━ É a IA perfeita para o
      seu WhatsApp, permitindo uma comunicação fácil e segura com quem você precisa!
    </div>
    <div class="text-slate-500">
      <strong class="text-slate-700">Com o RochaGPT</strong> ━ Você pode ter a melhor
      assistente virtual no WhatsApp. Experimente agora mesmo e descubra!
    </div>
    <div class="text-slate-500">
      <strong class="text-slate-700">Pois o RochaGPT</strong> ━ é a escolha ideal
      para quem busca uma IA eficiente e segura para o WhatsApp.
    </div>
  </dl>
  <div class="relative mx-auto w-full items-center py-12 pb-12">
    <div class="rounded-3xl bg-slate-100 p-8" style="">
      <div
        style="position: relative; padding-bottom: 61.120543293718164%; height: 0;"
      >
        <div
          style="position: relative; padding-bottom: 61.120543293718164%; height: 0;"
        >
          <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <div style="position: relative; padding-bottom: 62.5%; height: 0;">
              <iframe
                src="https://www.loom.com/embed/46e9b8f8f02c487db8b7e8f71abfd159"
                frame-border="0"
                webkit-allowfullscreen
                moz-allowfullscreen
                allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
