---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "RochaGPT"
  : "RochaGPT - Conectando pessoas, empresas e comunidades com IA";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon_io/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="O RochaGPT é uma plataforma de inteligência artificial que utiliza o GPT-3.5 da OpenAI para gerar respostas precisas e personalizadas em grupos ou chats privados. "
      canonical={canonicalURL}
      twitter={{
        creator: "@MonkeyBranch",
        site: "@MonkeyBranch",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `RochaGPT - Conectando pessoas, empresas e comunidades com IA`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "RochaGPT - Conectando pessoas, empresas e comunidades com IA",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
